body {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo input {
  margin-left: auto;
  margin-right: 30px;
  height: 25px;
  width: 300px;
}

.logo img {
  width: 40%;
  height: 90px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  align-items: center;
}

ul li {
  width: 20%;
}

.brands ul {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  align-items: center;
}

.brands li {
  width: 25%;
}
